@charset "UTF-8";

* {font-family:Arial, Helvetica, sans-serif;}
p {text-align: justify;}
body{background-image:linear-gradient(to right, #2D3E48, #17242D);}
main{background-color: #fffff6;
width: 600px;
padding: 10px;
margin: auto;
border-radius: 15px;
box-shadow: 5px 5px 15px #090e11d2;
}
h1{color: #17242D;
text-align: center;
text-shadow:1px 1px 2px #17242d9f;}
h2{color: #2D3E48;}